#nav {
	height: fit-content;
	align-self: center;
}
  
.sidebar {
	display: flex;
	flex-direction: column;
}
  
.side-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.icon-container {
	z-index: 1;
	margin: var(--size-m) 0;
	cursor: pointer;
	padding: var(--size-xs);
	border-radius: var(--size-s);
	border: 1px solid #0000;
	width: 2.5rem;
}
  
.icon-container:hover {
	background-color: var(--color-m-t);
	border: 1px solid var(--color-m);
}
  
.icon-container img {
	width: 100%;
	height: auto;
}
  
.borderr {
	border: 1px solid var(--color-m);
	background: var(--color-s-t);
	border-radius: var(--size-l);
	padding: var(--size-s);
}
  