#side-panel {
	width: var(--panel-size);
	padding: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap:2rem;
	border-radius: var(--size-l);
}

.panel-header {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

.logo-icon img{
	width:3rem;
	color:#fff;
} 

.options {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.options .edit {
	margin-right: 10px;
}

.options .logout {
	margin-left: 10px;
}


.options .user-img img {
	width: 5.2rem;
	height: 5.2rem;
	border-radius: 50%;
	padding:0.2rem;
	object-fit: cover;
}
.edit {
	z-index: 1;
	margin: var(--size-m) 0;
	cursor: pointer;
	padding: var(--size-xs);
	border-radius: var(--size-s);
	border: 1px solid #0000;
	width: 2.2rem;
}
  
.edit:hover {
	background-color: var(--color-m-t);
	border: 1px solid var(--color-m);
}
  
.edit img {
	width: 100%;}

.logout {
		z-index: 1;
		margin: var(--size-m) 0;
		cursor: pointer;
		padding: var(--size-xs);
		border-radius: var(--size-s);
		border: 1px solid #0000;
		width: 2.2rem;
	}
.logout:hover {
		background-color: var(--color-m-t);
		border: 1px solid var(--color-m);
	}
	  
.logout img {
		width: 100%;}
	
.user-name {
			font-size: 1.3rem;
			font-weight: bold;
			color: #D4D8E8;
			margin-bottom: 2rem;
			text-align: center;
			transform: translate(1%, 1%);
			position: relative; /* Add position relative to enable positioning of pseudo-element */
		}
		
.user-name:after {
			content: "";
			position: absolute;
			bottom: -10px; /* Adjust the value to position the underline properly */
			left: 50%;
			transform: translateX(-50%);
			width: 8rem; /* Increase the width to make the underline longer */
			height: .2rem;
			border-radius: 0.3rem;
			background-color: rgb(255, 255, 255);
}

/* .panel-playList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
  }
  
  .playlist-item {
	width: 200px;
	background-color: #f2f2f2;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .song-image {
	width: 100%;
	height: auto;
	border-radius: 8px;
  }
  
  .song-details {
	margin-top: 10px;
  }
  
  .song-title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .song-artist {
	font-size: 0.9rem;
	color: #888888;
  }
   */
.playlist-item {
	width: 11rem;
	height:3.5rem;
	border-radius: 0.1rem;
	padding: 10px;
	display: flex;
	align-items:center;
	justify-content:flex-start;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	gap: 0.4rem;
	margin-bottom: 0.5rem;
	
  }
.playlist-title{
	font-size: .9rem;
}
.avatar{
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	object-fit: cover;
}
.panel-playList{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
}
.title-playlist{
	text-align:center;
}